@import './_variables.scss';
@import './_mixins.scss';
@import './_global.scss';

input {
    width: 100%;

    @include formInput;
}

textarea {
    width: 100%;
    height: $input-height * 2;

    @include formInput;
}

button {
    border: none;
    color: white;
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
}
