@import './_variables.scss';
@import './_mixins.scss';

input {
    width: 100%;
    @include formInput;
}

textarea {
    width: 100%;
    height: $input-height * 2;
    @include formInput;
}

button {
    border: none;
    color: white;
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
}

:global(.danger) {
    background-color: #F44336;

    &:hover {
        background-color: #e64034;
    }
}

:global(.primary) {
    background-color: #009688;

    &:hover {
        background-color: #0b776d;
    }
}