.goals {
    max-width: 500px;
    margin: 0 auto;
}

.actions {
    display: flex;
    justify-content: space-between;
}

.empty {
    padding: 15px 0;
    color: #ccc;
}

.notifications {
    padding: 15px 0;
    color: red;
}
